<div id="<%= dom_id plate %>">
  <p>
    <strong>Name:</strong>
    <%= plate.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plate.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= plate.price %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= plate.picture %>
  </p>

</div>
