%div{:id => "#{dom_id plate}"}
  %p
    %strong Name:
    = plate.name
  %p
    %strong Description:
    = plate.description
  %p
    %strong Price:
    = plate.price
  %img
    %strong Picture:
    = image_tag (plate.picture) , skip_pipeline: true
