.page-header.m-4
  %p{:style => "color: green"}= notice

  %h1.mb-4
    = "List of plates"
    .float-right
      = link_to "New plate",
                new_plate_path, class: "btn btn-primary"



%table.table.table-striped
  %thead
    %tr
      %th= "Name"
      %th= "Description"
      %th= "Price"
      %th= "Picture"

  %tbody
    - @plates.each do |plate|
      %tr
        %td= plate.name
        %td= plate.description
        %td= plate.price
        %td= image_tag (plate.picture) , skip_pipeline: true
        %td= link_to "Show this plate", plate, class: "btn btn-info"
        %td= link_to "Edit this plate", edit_plate_path(plate), class: "btn btn-success"
        %td= button_to "Delete this plate", plate, method: :delete, class: "btn btn-danger"
