%div{:id => "#{dom_id client}"}
  %p
    %strong Name:
    = client.name
  %p
    %strong Email:
    = client.email
  %p
    %strong Password:
    = client.password
  %p
    %strong Direction:
    = client.direction
