= form_for @order, validate: true do |form|

  %div
    = form.label :order_date, style: "display: block"
    = form.date_field :order_date
  %div

    .form-group.ml-4.mr-4
    = form.label :status, class: 'form-label required'
    = form.select(:status, options_for_select(statuses, @order.status),
  {prompt:"Seleccione"}, class:'form-control')

    .form-group.ml-4.mr-4
    = form.label :plate_id, class: "form-label required"
    = form.select(:plate_id, options_for_select(@plates, @order.plate),
                        {prompt:"Seleccione"}, class:"form-control")

    .form-group.ml-4.mr-4
    = form.label :client_id, class: "form-label required"
    = form.select(:client_id, options_for_select(@clients, @order.client),
                        {prompt:"Seleccione"}, class:"form-control")

  .row
    .offset-3.col-3
      = link_to "Back to orders", orders_path, class: "btn btn-secondary btn-block"
    .col-3
      = button_tag "Save" , class: "btn btn-outline-success btn-block", 'data-disable-with': "Save"