%div{:id => "#{dom_id order}"}
  %p
    %strong Order date:
    = order.order_date
  %p
    %strong Status:
    = order.status
  %p
    %strong Plate:
    = order.plate.name
  %p
    %strong Plate Description:
    = order.plate.description

  %p
    %strong Client:
    = order.client.name
