<!DOCTYPE html>
<html>
   <head>
      <title>ProyectoLenguajes</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
      <meta name= "viewport" content="width=device-width, initial-scale= 1">
   </head>
   <body>
      <header class ="container">
         <nav class= "navbar navbar-default">
            <div class ="container-fluid">
               <div class ="navbar-header">
                  <%= link_to "Menu", menu_path, class: "navbar-brand"  %>
            </div>
            <ul class="nav navbar-nav navbar-right">
         <% if logged_in? %>
         
         <li><%= link_to "Users", users_path %></li>
         <li><%= link_to "Recipes", plates_path %></li>
         <li><%= link_to "Clients", plates_path %></li>
         <li><%= link_to "Orders", orders_path %></li>
         <li><%= link_to "Order status", orders_path %></li>
         <li><%= link_to "Log out", logout_path, method: :delete %></li>
         <% else %>
         <li><%= link_to "Log In", login_path %></li>
         <% end %>
            </ul>
         </div>
      </nav>
      </header>
      <section class="container">

         <%= yield %>
      </section>
   </body>
</html>
